<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="css/style.css" />


</head>
<body>
	<h1>Stargazers</h1>
	<div id="list"></div>

	<script type="text/template" id="repo">
		<a href="<%= html_url %>"><%= full_name %></a>
	</script>

	<script type="text/template" id="stargazer">
		<img width="100" src="<%= avatar_url %>" />
	</script>

	<script src="js/underscore.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/backbone.js"></script>
	<script src="js/script.js"></script>
</body>
</html>